---
import MainLayout from "../layouts/HowToLayout.astro";
import Button_readmore from "../components/Button_readmore.astro";
import { Image } from "astro:assets";
import phone from "../assets/howto_illustrations/phone_final.svg";
import mail from "../assets/howto_illustrations/envelope.svg";
import computer from "../assets/howto_illustrations/harddrive.svg";
import papers from "../assets/howto_illustrations/paper_stack.svg";
import pixel1 from "../assets/howto_illustrations/pixel_1.svg";
import circle from "../assets/howto_illustrations/circle.svg";
import Button_shareresults from "../components/Button_shareresults.astro";
---

<MainLayout title="Sådan laver du en digital oprydning">
  <div class="top_part text-center font-sans bg-light-green pt-18 md:pt-20">
    <span class="top-70 left-70"><Image class="h-auto w-auto" src={circle} alt="" width={100} height={100} /> </span>
    <h1 class="text-dark-green text-5xl md:text-h1 md:text-center pt-14">Sådan laver du en digital oprydning</h1>
    <br />
    <h2 class="text-off-white text-h2_m md:text-4xl p-8 md:p-8">Step by step</h2>
    <!-- Pixel image container -->
    <div class="pixel1-container md:flex flex-row translate-y-15 justify-start">
      <Image class="h-auto w-auto" src={pixel1} alt="" />
    </div>
  </div>
  <div class="text_container text-dark-green grid grid-cols-1 md:grid-cols-2 gap-10 mx-auto mt-16 max-w-6xl">
    <div class="col_1 mx-16 mb-10">
      <h2 class="text-h2_m">STEP 1</h2>
      <h3 class="text-h3_m pb-4">Ryd op i din telefon</h3>
      <Image src={phone} alt="" width={90} height={90} />
      <p class="text-brodtekst_mini pt-4 pb-2">
        Fjern alle de apps, du ikke har brugt i et stykke tid, eller kun har brugt få gange. Vær ærlig og modig! Slet alle de unødvendige, glemte,
        gamle apps ...
      </p>
      <br />
      <Button_readmore>Læs mere</Button_readmore>
    </div>
    <div class="col_2 mx-16 mb-10">
      <h2 class="text-h2_m">STEP 2</h2>
      <h3 class="text-h3_m pb-4">Ryd op i din mail-indbakke</h3>
      <Image src={mail} alt="" width={90} height={90} />
      <p class="text-brodtekst_mini pt-4 pb-2">
        Filtrér dine e-mails efter de ældste og arkivér dem. Afmeld nyhedsbreve, som du ikke engang læser. Vælg lange samtaler, behold den nyeste, og
        slet alt det andet! ...
      </p>
      <br />
      <Button_readmore>Læs mere</Button_readmore>
    </div>
    <div class="col_3 mx-16 mb-10">
      <h2 class="text-h2_m">STEP 3</h2>
      <h3 class="text-h3_m pb-4">Ryd op i din computers harddrive</h3>
      <Image src={computer} alt="" width={90} height={90} />
      <p class="text-brodtekst_mini pt-4 pb-2">
        Ryd op på din personlige computer og slet filer, der er dubletter eller er blevet overflødige. Gennemgå alle dine billeder og slet dubletter
        og slørede billeder ...
      </p>
      <br />
      <Button_readmore>Læs mere</Button_readmore>
    </div>
    <div class="col_4 mx-16 mb-10">
      <h2 class="text-h2_m">STEP 4</h2>
      <h3 class="text-h3_m pb-4">Ændr dine vaner</h3>
      <Image src={papers} alt="" width={90} height={90} />
      <p class="text-brodtekst_mini pt-4 pb-2">
        I stedet for at sende e-mails, brug flere co-working-steder. Stop med at sende ‘ok’ og ‘tak’ e-mails! Opbevar de vigtige filer ét sted i skyen
        ...
      </p>
      <br />
      <Button_readmore>Læs mere</Button_readmore>
    </div>
  </div>
  <div class="shareresults_button flex justify-center p-16"><Button_shareresults>Del dit bidrag</Button_shareresults></div>

  <!-- ressourcer -->
  <section class="text-dark-green m-20">
    <h3 class="text-h3_m pb-4 pl-48">Ressourcer</h3>
    <div class="a_container flex flex-col justify-center md:flex-row jus gap-10 max-w-7xl">
      <div class="a_col1 grid grid-cols-1">
        <a href="#" class="underline">Retningslinjer for enkeltpersoner</a>
        <a href="#" class="underline">Sådan rydder du op i din computer og i Drive</a>
        <a href="#" class="underline">Sådan rydder du op i dine e-mails</a>
      </div>
      <div class="a_col2 grid grid-cols-1">
        <a href="#" class="underline">Sådan rydder du op i din smartphone og tablet</a>
        <a href="#" class="underline">Indsamling af deltagerdata 1</a>
        <a href="#" class="underline">Indsamling af deltagerdata 2</a>
      </div>
    </div>
  </section>
</MainLayout>
